body {
	padding: 80px;
	font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;
	background: rgb(228, 228, 228);
}
.rating {
	float: right;
	color: rgb(155, 155, 155);
}
.wall {
	background-image: url(../img/wall.jpg);
	height: 240px;
	border-radius: 5px;
}
.block {
	margin-left: 0;
	margin-right: 0;
	margin-top: 15px;
	margin-bottom: 10px;
	background-color: #FFF;
	border-radius: 4px;
	padding: 10px 0;
	box-shadow: 2px 2px 21px rgb(194, 194, 194);
	clear: both;
	overflow:hidden;
}
.left-block {
	border-right: 1px solid rgb(216, 216, 216);
	float: left;
	width: 50%;
	padding: 10px 24px;
}
.right-block {
	padding: 10px 24px;
	float: left;
}
.block h3 {
	margin: 0;
}
.block p {
	padding: 4px 24px;
	font-size: 16px;
}
.ratingChange {
	padding-left: 16px;
	color: rgb(155, 155, 155);
	font-size: 15px;
}
#sidebar h3 {
	border-left: 6px solid rgb(201, 201, 201);
	padding-left: 6px;
	padding-top: 2px;
	padding-bottom: 4px;
	color: rgb(148, 148, 148);
	margin-left: 1px;
}
.date {
	color: rgb(146, 146, 146);
	background: rgb(231, 231, 231);
	width: 174px;
	font-size: 12px;
	padding: 3px 0px 0px 24px;
	font-family: Arial;
	box-shadow: 0px 1px 2px rgb(190, 190, 190);
	margin-top: -10px;
	margin-bottom: 4px;
}
