<html>
	<head>
		<meta charset="utf-8">
		<title>酷客</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap.min.css')}}" >
		<link rel="stylesheet" type="text/css" href="{{static_url('css/bootstrap-glyphicons.css')}}" >
		<link rel="stylesheet" type="text/css" href="{{static_url('css/style.css')}}" >
	</head>

	<body>
		<div class="navbar navbar-fixed-top kuke-navbar">
			<div class="container">
				<a class="navbar-brand kuke-navbar-brand" href="/">酷客!</a>
				<div class="nav-collapse collapse">
					<ul class="nav navbar-nav kuke-nav">
						<li class="dropdown">
						<a href="#" class="dropdown-toggle glyphicon glyphicon-screenshot kuke-glyphicon" data-toggle="dropdown"> 最新 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/things?sort=hot" class="glyphicon glyphicon-fire kuke-glyphicon"> 最热</a></li>
							<li><a href="/things?sort=favor" class="glyphicon glyphicon-thumbs-up kuke-glyphicon"> 最赞</a></li>
						</ul>
						</li>
						<li><a href="/things/collection">收藏</a></li>
						<li><a href="/things/collection">收藏</a></li>
						<li><a href="/things/new">发布</a></li>
					</ul>
					<ul class="nav navbar-nav pull-right kuke-nav">
						<li>
						<form class="navbar-form pull-left kuke-navbar-form" action="">
							<input type="text" class="form-control kuke-form-control" placeholder="搜索">
						</form>
						</li>
						<li><a href="/examples/navbar/">登录</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
		<script type="text/javascript" src="{{static_url('js/jquery.js')}}"></script>
		<script type="text/javascript" src="{{static_url('js/bootstrap.min.js')}}"></script>
	</body>
</html>
