{% extends "base.html" %}

{% block title %}{{title}}{%end%}

{% block content %}
<div class="container" id="cascade">
	<ul class="kuke-cascade">
		{% for thing in things %}
		<li class="tips-sw" original-title="{{thing['subtitle']}}">
			<a href="/things/detail/{{thing['_id']}}">
				<img src="{{static_url(thing['image_url'])}}">
				<h4>{{thing['title']}}</h4>
				<div class="kuke-item-bottom">
					<span class="glyphicon glyphicon-thumbs-up kuke-item-glyphicon"></span>
					<span class="kuke-item-favor">{{thing['favor']}}</span>
					{% if thing['price'] %}
					<span class="kuke-item-price">¥ {{thing['price']}}</span>
					{% end %}
				</div>
			</a>
		</li>
		{% end %}
	</ul>
</div>
{% end %}

{% block scripts %}
<script type="text/javascript" src="{{static_url('js/imagesloaded.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/wookmark.js')}}"></script>
{% end %}
