{% extends "base.html" %}

{% block title %}发布产品 - 酷客{% end %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{static_url('css/dropzone.css')}}" >
<link rel="stylesheet" type="text/css" href="{{static_url('css/jquery.cleditor.css')}}" >
{% end %}

{% block content %}
<div class="container">
	<div class="kuke-white-board">
		<div class="kuke-board-head">
			<h3>发布产品</h3>
			<p>感谢您分享您喜欢的新/奇/酷产品，一旦产品经过我们的编辑审核通过，将来有可能获得很大的优惠！</p>
		</div>
		<form action="/things/new" class="form-horizontal" id="newThing" method="post">
			<div class="form-group">
				<label class="col-lg-2 control-label" for="newThingTitle"><abbr title="required">*</abbr> 名称</label>
				<div class="col-lg-6">
					<input class="form-control" id="newThingTitle" maxlength="40" name="title" placeholder="真实准确的品牌型号，40字以内" required="required" size="100" type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="newThingSubtitle">一句话介绍</label>
				<div class="col-lg-6">
					<input class="form-control" id="newThingSubtitle" maxlength="40" name="subtitle" placeholder="您对产品的一句话介绍，40字以内" size="100" type="text" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-2 control-label" for="newThingBuylink">官方链接</label>
				<div class="col-lg-6">
					<input class="form-control" id="newThingBuylink" name="buylink" placeholder="品牌官方网站的该产品链接地址" size="100" type="url" value="">
				</div>
			</div>
		</form>
		<div class="kuke-dropzone">
			<form action="/things/image-upload" class="dropzone" style="min-height:140px" id="newThingDropzone"></form>
		</div>
		<div class="kuke-desc-textarea">
			<textarea id="newThingDesc" name="new-thing-desc"></textarea>
		</div>
		<div>
			<button class="btn btn-primary btn-lg" id="newThingSubmit">提交产品</button>
		</div>
	</div>
</div>
{% end %}

{% block scripts %}
<script type="text/javascript" src="{{static_url('js/dz.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.cleditor.min.js')}}"></script>
{% end %}
