{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{static_url('css/pika/bottom.css')}}" >
{% end %}

{% block title %}{{thing['title']}} - 酷客{% end %}

{% block content %}
<div class="container">
	<div class="kuke-white-board-dense">
		<div class="kuke-detail-head">
			<h1>{{thing['title']}}</h1>
			<h2>{{thing['subtitle']}}</h2>
		</div>
		<div class="row">
			<div class="col-md-9 kuke-detail-info" role="main">
				{% if 'image_urls' in thing %}
				<div class="kuke-detail-gallery">
					<ul id="pikame" class="jcarousel-skin-pika">
						{% for img_url in thing['image_urls']  %}
						<li><a><img src="{{static_url(img_url)}}"/></a></li>
						{% end %}
					</ul>	
				</div>
				{% end %}
				<div class="kuke-detail-desc">
					{% raw thing['desc'] %}
				</div>
				<div class="kuke-detail-comments">
					<div class="kuke-detail-comments-head">
						<span class="glyphicon glyphicon-comment"></span>评论
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="kuke-detail-actions">
					{% if thing['price'] %}<div class="kuke-detail-price">¥ {{thing['price']}}</div>{% end %}
					{% if thing['buylink'] %}
					<a href="{{thing['buylink']}}" target="_blank" class="btn btn-success kuke-detail-buylink">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						购买
					</a>
					{% end %}
				</div>
				<div class="kuke-detail-actions">
					{% if thing['favored'] %}
					<div class="kuke-detail-act" id="actDisfavor">
					{% else %}
					<div class="kuke-detail-act hide" id="actDisfavor">
					{% end %}
						<span class="glyphicon glyphicon-thumbs-down"></span> 已赞（单击取消）
						<span class="label label-danger">
							<span class="kuke-detail-favornum">{{thing['favor']}}</span>
							人
						</span>
					</div>

					{% if thing['favored'] %}
					<div class="kuke-detail-act hide" id="actFavor">
					{% else %}
					<div class="kuke-detail-act" id="actFavor">
					{% end %}
						<span class="glyphicon glyphicon-thumbs-up"></span> 赞一个
						<span class="label label-danger">
							<span class="kuke-detail-favornum">{{thing['favor']}}</span>
							人
						</span>
					</div>

					{% if thing['collected'] %}
					<div class="kuke-detail-act" id="actDiscollect">
						<span class="glyphicon glyphicon-folder-close"></span> 已收藏（单击取消）
					</div>
					{% else %}
					<div class="kuke-detail-act" id="actCollect">
						<span class="glyphicon glyphicon-folder-open"></span> 收藏
					</div>
					{% end %}
					<div class="kuke-detail-act" id="actShareWeibo">
						<span class="glyphicon glyphicon-share"></span> 分享到微博
					</div>
					<div class="kuke-detail-act" id="actShareWechat" data-toggle="modal" href="#qrcodeModal">
						<span class="glyphicon glyphicon-qrcode"></span> 分享到微信
					</div>
				</div>
				<div class="kuke-detail-actions">
					<a href="/users/{{thing['user']['_id']}}">
						<img src="{{thing['user']['img_url']}}">
						{{thing['user']['name']}}
					</a>
				</div>
				{% if thing['tags'] %}
				<div class="kuke-detail-actions">
					{% for tag in thing['tags'] %}
					<span class="kuke-detail-tag">{{tag}}</span>
					{% end %}
				</div>
				{% end %}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="qrcodeModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">「{{thing['title']}}」二维码，扫一扫立即分享！</h4>
			</div>
			<div class="modal-body" style="text-align:center">
				<div class="well">
					<span id="qrcodeLoading">二维码图像生成中……</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="thingInfo" tid="{{thing['_id']}}"></div>
{% end %}

{% block scripts %}
<script type="text/javascript" src="{{static_url('js/jquery.jcarousel.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/jquery.pikachoose.min.js')}}"></script>
{% end %}
